@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Oswald:wght@300;400;700&display=swap');

:root {
    --bg-color: #121212;
    --surface-color: #1e1e1e;
    --primary-color: #C64B4B;
    --secondary-color: #75274C;
    --accent-color: #4CAF50;
    --text-gradient: linear-gradient(to bottom, #C64B4B, #75274C);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: #ffffff;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

header {
    position: relative;
}

a {
  color: #C64B7D;
}

.logo-container {
    padding: 0.5rem 2rem;
    text-align: center;
}

.logo-container img {
    max-width: 80%;
    height: auto;
}

nav {
    background-color: var(--surface-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    transition: transform 0.3s ease;
}

nav.hidden {
    transform: translateY(-100%);
}

nav .logo-container {
    width: 100px;
}

nav .logo-container img {
    max-width: 100%;
    height: auto;
    min-width: 200px;
}

#to-top-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

main {
    padding-top: 50px;
}

section {
    padding: 2rem 2rem;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--surface-color);
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

#typewriter-text {
    display: inline-block;
    border-right: 2px solid #ffffff;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-pic {
	border-radius: 10%;
    box-shadow: 0 0 20px rgba(198, 75, 75, 0.5);
    transition: transform 0.3s ease;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.project-card:hover {
  transform: scale(1.05);
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

@media (min-width: 1200px) {
    .project-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.project-card {
  background-color: var(--surface-color, #1e1e1e);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 75, 75, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.project-card.animate {
    animation: fadeInUp 1s ease forwards;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

footer {
    background-color: var(--surface-color);
    text-align: center;
    padding: 1rem 0;
}

.social-links {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.social-links a {
    margin: 0 0.5rem;
    transition: opacity 0.3s ease;
    color: white;
}

.social-links a:hover {
    opacity: 0.8;
}

.icon {
    width: 64px;
    height: 64px;
}